---
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Stats from '~/components/widgets/Stats.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>

  <Hero2
    tagline="About Dr. Janie Staravecka"
    image={{
      src: '~/assets/images/surgery.jpg',
      alt: 'Surgery Image',
    }}
  >
    <Fragment slot="title">
      Committed to Expert Foot & Ankle Care  <br />
      <span class="text-accent dark:text-white highlight"> for the New Albany Community</span>
    </Fragment>

  </Hero2>



  <Features3
    title="A Passion for Podiatric Medicine"
    subtitle="Dr. Janie Staravecka is proud to bring exceptional foot and ankle care to New Albany and the surrounding areas. With a deep passion for patient care, she is committed to providing personalized, high-quality treatments to help patients regain mobility and live pain-free lives."
    columns={3}
    isBeforeContent={true}

  />

    <Content
    isReversed
    tagline="Education & Specialized Training",
    title="From Ohio State to Kent State — Expertly Trained in Podiatric Medicine",
    items={[
      {
        title: 'Lower extremity reconstructive surgery',
      },
      {
        title: 'Foot and ankle trauma care',
      },
      {
        title: 'Sports medicine and injury prevention',
      },
      {
        title: 'Diabetic limb salvage and wound care',
      },
      {title: 'Elective forefoot and rearfoot surgeries'}
    ]}
    image={{
      src: '~/assets/images/dr-staravecka.jpeg',
      alt: 'Lifestyle Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Advanced Surgical Training for Comprehensive Foot & Ankle Care</h3>
      During her surgical residency at Inspira Health Network in Southern New Jersey, Dr. Staravecka underwent extensive training in:
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps2
    title="Schedule Your Visit Today"
    subtitle="Dr. Staravecka looks forward to meeting you and providing expert care tailored to your needs. Call us today to schedule an appointment!"
    isReversed={true}
    callToAction={{
      text: 'Book an appointment',
      href: 'https://www.zocdoc.com/practice/sole-foot-and-ankle-specialists-136571?lock=true&isNewPatient=false&referrerType=widget',
      icon: 'tabler:calendar-time',
    }}
    items={[
      {
        title: 'Dedicated to the Community',
        description: 'A Dublin, Ohio native, Dr. Staravecka has returned home with a mission—to serve the community she grew up in. She is dedicated to helping patients of all ages achieve healthier, pain-free lives through compassionate and comprehensive foot care.',
        icon: 'tabler:globe',
      },
      {
        title: 'A Life Beyond Medicine',
        description:
          'Outside the office, Dr. Staravecka enjoys an active lifestyle, often running and spending time outdoors. She cherishes moments with her husband, daughter, and two cats, embracing a well-rounded life filled with family and passion.',
        icon: 'tabler:heart',
      },

    ]}
  />


</Layout>
