---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import Image from '~/components/common/Image.astro';


const metadata = {
  title: 'Sole Specialists - Expert Foot & Ankle Care in Columbus, OH',
  ignoreTitleTemplate: true,
};

const imgUrls = [
  '~/assets/images/building-1.JPG',
  '~/assets/images/patient-room.JPG',
  '~/assets/images/waiting-room.JPG',
];
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Book an appointment',
        href: 'tel:+16147414001',
        target: '_blank',
        icon: 'tabler:phone',
      },
      { text: 'Our services', href: '/services' },
    ]}
    image={{ src: '~/assets/images/marathon.jpg', alt: 'Marathon Runners' }}
  >
    <Fragment slot="title">
      Expert Foot & Ankle Care for Every Step You Take
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
        <span class=""><span class="font-bold">Relief. Recovery. Results. </span> Our team provides personalized care to keep you moving pain-free.</span
      ></span>

    </Fragment>
  </Hero>

  <Content
  isReversed
  tagline="Why Choose Us?"
  title="The Sole difference"
  items={[
    {
      title: 'Personalized Treatment Plans',
      description:
        'Every patient gets a tailored care approach.',
    },
    {
      title: 'Advanced Techniques & Technology',
      description:
        'Utilizing the latest in podiatric medicine.',
    },
    {
      title: 'Compassionate, Expert-Led Care',
      description:
        'Led by Dr. Staravecka, dedicated to patient wellness.'
    },
  ]}
  image={{
    src: '~/assets/images/foot-xray.jpg',
    alt: 'Colorful Image',
  }}
>
  <Fragment slot="content">
    <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">The Right Care, The Right Treatment, The Right Results.</h3>
  </Fragment>

  <Fragment slot="bg">
    <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
  </Fragment>
</Content>

  <!-- Note Widget ******************* -->
  <!-- <Note /> -->

  <!-- Features Widget *************** -->

  <Features
    id="features"
    tagline="Services"
    title="Healthy Feet, Happy Sole"
    subtitle="Expert foot and ankle care with precision, compassion, and a commitment to your well-being. Every treatment is tailored to your unique needs, ensuring you receive the highest level of attention and expertise—because your comfort and health matter to us."
    items={[
      {
        title: 'Sports Injuries & Foot Pain',
        description:
          'Relief for sprains, tendon issues, and chronic discomfort',
          icon: 'tabler:play-football',
      },
      {
        title: 'Corrective & Surgical Care',
        description:
          'Solutions for bunions, hammer toes, and structural concerns',
          icon: 'tabler:clipboard-heart',
      },
      {
        title: 'Skin & Nail Health',
        description:
          'Treatment for athlete\'s foot, warts, and ingrown nails',
          icon: 'tabler:activity',
      },
      {
        title: 'Diabetic & Geriatric Foot Care',
        description:
          'Specialized care to prevent complications',
          icon: 'tabler:medical-cross-circle',
        
      },
      {
        title: 'Custom Solutions & Preventive Care',
        description:
          'Orthotics, casting, and education for lasting support',
          icon: 'tabler:shoe',
      },
      {
        title: 'Chronic Conditions & Joint Health',
        description:
          'Arthritis, gout, and long-term foot care management',
        icon: 'tabler:stethoscope',
      },
    ]}
  />




  <!-- Content Widget **************** -->

  <!-- <Content
    isAfterContent
    items={[
      {
        title: 'High level of customization',
        description: `Tailor the template effortlessly to match your brand's identity and requirements, making your website distinct and saving you time.`,
      },
      {
        title: 'Multiple layout possibilities',
        description:
          'Explore various layout options to find the structure that best presents your content, enhancing user engagement and navigation.',
      },
      {
        title: 'Fully responsive design',
        description:
          "Ensure your website's optimal performance on various devices and screen sizes, providing a consistent and enjoyable user experience.",
      },
      {
        title: 'Integration of media',
        description:
          'Seamlessly incorporate images, videos, and multimedia elements that enhance your content and engage visitors effectively.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">Ensure your online presence truly represents you.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Content Widget **************** -->

  <!-- <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Enhanced user engagement',
        description:
          'Captivate your audience with interactive elements, intuitive navigation, and visually appealing layouts, encouraging longer visits.',
      },
      {
        title: 'Continuous improvement',
        description:
          'Ensure your website stays aligned with the latest trends and technologies through regular updates and enhancements.',
      },
      {
        title: 'Time and resource efficiency',
        description:
          'Skip the time-consuming process of building a website from scratch and launch your online presence sooner with AstroWind.',
      },
      {
        title: 'Community support',
        description: `Join the growing AstroWind community for insights, resources, and assistance, ensuring you're never alone on your web development journey.`,
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">Designed to foster growth and success.</Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content> -->

  <!-- Steps Widget ****************** -->
  <!-- TODO: steps to book? -->
  <Steps
    title="Your Path to Pain-Free Living"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Identify the Problem</span>',
        description:
          '<span class="font-bold">Listen to Your Feet</span> - Foot pain, discomfort, or mobility issues shouldn\'t be ignored. If you\'re experiencing persistent pain, swelling, or difficulty walking, it\'s time to take action.',
        icon: 'tabler:package',
      },
      {
        title: 'Step 2: <span class="font-medium">Get Expert Diagnosis</span>',
        description:
          '<span class="font-bold">Personalized Assessment</span> - Schedule an appointment with Dr. Staravecka for a thorough evaluation. We use advanced diagnostics to pinpoint the cause of your discomfort and create a custom treatment plan.',
        icon: 'tabler:letter-case',
      },
      {
        title: 'Step 3: <span class="font-medium">Receive Tailored Treatment</span>',
        description:
          '<span class="font-bold">Targeted Solutions</span> - Whether it\'s conservative care, custom orthotics, therapy, or surgery, we provide the right treatment for lasting relief. Our goal is to help you heal, move, and feel better—faster.',
        icon: 'tabler:paint',
      },
      {
        title: 'Take the Next Step!',
        description:  '<span class="font-bold">Schedule Your Visit Today</span> - Don\'t wait for the pain to get worse. Early treatment leads to better outcomes. Call now to schedule your appointment and take the first step toward healthy, pain-free movement.',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: '~/assets/images/stair-climb.jpg',
      alt: 'Steps image',
    }}
  />

  <!-- Features2 Widget ************** -->

  <!-- <Features2
    title="Most used widgets"
    subtitle="Provides frequently used components for building websites using Tailwind CSS"
    tagline="Components"
    items={[
      {
        title: 'Headers',
        description: "Ever tried driving without GPS? Boom! That's why websites need headers for direction.",
        icon: 'flat-color-icons:template',
      },
      {
        title: 'Heros',
        description:
          "Picture a superhero landing – epic, right? That's the job of a Hero section, making grand entrances!",
        icon: 'flat-color-icons:gallery',
      },
      {
        title: 'Features',
        description:
          'Where websites strut their stuff and show off superpowers. No holding back on the bragging rights here!',
        icon: 'flat-color-icons:approval',
      },
      {
        title: 'Content',
        description:
          "Dive into the meat and potatoes of a site; without it, you'd just be window shopping. Content is king.",
        icon: 'flat-color-icons:document',
      },
      {
        title: 'Call-to-Action',
        description:
          'That enthusiastic friend who\'s always urging, "Do it! Do it!"? Yeah, that\'s this button nudging you towards adventure.',
        icon: 'flat-color-icons:advertising',
      },
      {
        title: 'Pricing',
        description: 'Behold the dessert menu of the website world. Tempting choices await, can you resist?',
        icon: 'flat-color-icons:currency-exchange',
      },
      {
        title: 'Testimonial',
        description: 'Step into the gossip corner! Here, other visitors spill the beans and share the juicy details.',
        icon: 'flat-color-icons:voice-presentation',
      },
      {
        title: 'Contact',
        description:
          'Like a digital mailbox, but faster! Drop a line, ask a question, or send a virtual high-five. Ding! Message in.',
        icon: 'flat-color-icons:business-contact',
      },
      {
        title: 'Footers',
        description: "The footer's like the credits of a movie but sprinkled with easter eggs. Time to hunt!",
        icon: 'flat-color-icons:database',
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2> -->

  <!-- HighlightedPosts Widget ******* -->

  <!-- <BlogLatestPosts
    title="Find out more content in our Blog"
    information={`The blog is used to display AstroWind documentation.
                        Each new article will be an important step that you will need to know to be an expert in creating a website using Astro + Tailwind CSS.
                        Astro is a very interesting technology. Thanks.
                `}
  /> -->

  <!-- FAQs Widget ******************* -->

  <!-- TODO: come up with FAQs -->
  <!-- <FAQs
    title="Frequently Asked Questions"
    subtitle="Dive into the following questions to gain insights into the powerful features that AstroWind offers and how it can elevate your web development journey."
    tagline="FAQs"
    classes={{ container: 'max-w-6xl' }}
    items={[
      {
        title: 'Why AstroWind?',
        description:
          "Michael Knight a young loner on a crusade to champion the cause of the innocent. The helpless. The powerless in a world of criminals who operate above the law. Here he comes Here comes Speed Racer. He's a demon on wheels.",
      },
      {
        title: 'What do I need to start?',
        description:
          'Space, the final frontier. These are the voyages of the Starship Enterprise. Its five-year mission: to explore strange new worlds. Many say exploration is part of our destiny, but it’s actually our duty to future generations.',
      },
      {
        title: 'How to install the Astro + Tailwind CSS template?',
        description:
          "Well, the way they make shows is, they make one show. That show's called a pilot. Then they show that show to the people who make shows, and on the strength of that one show they decide if they're going to make more shows.",
      },
      {
        title: "What's something that you don't understand?",
        description:
          "A flower in my garden, a mystery in my panties. Heart attack never stopped old Big Bear. I didn't even know we were calling him Big Bear.",
      },
      {
        title: 'What is something that you would like to try again?',
        description:
          "A business big enough that it could be listed on the NASDAQ goes belly up. Disappears! It ceases to exist without me. No, you clearly don't know who you're talking to, so let me clue you in.",
      },
      {
        title: 'If you could only ask one question to each person you meet, what would that question be?',
        description:
          "This is not about revenge. This is about justice. A lot of things can change in twelve years, Admiral. Well, that's certainly good to know. About four years. I got tired of hearing how young I looked.",
      },
    ]}
  /> -->

  <!-- Stats Widget ****************** -->

  <!-- <Stats
    stats={[
      { title: 'Downloads', amount: '132K' },
      { title: 'Stars', amount: '24.8K' },
      { title: 'Forks', amount: '10.3K' },
      { title: 'Users', amount: '48.4K' },
    ]}
  /> -->

  <!--  Photos of practice -->
  <div class="flex-col p-4 justify-center">
    <h2 class="font-bold leading-tighter tracking-tighter font-heading text-heading text-3xl">Our Practice</h2>

    <div class="flex flex-col lg:flex-row gap-4 mt-4">
      <Image
      src={imgUrls[0]}
      class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg"
      width={500}
      height={500}
      widths={[400, 768]}
      sizes="(max-width: 768px) 100vw, 432px"
      layout="responsive"
      alt="building"
      />

      <Image
      class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg lg:w-1/3"
      src="~/assets/images/patient-room.JPG"
      width={500}
      height={500}
      widths={[400, 768]}
      sizes="(max-width: 768px) 100vw, 432px"
      alt="patient room"
      />
      <Image
      class="mx-auto w-full rounded-lg bg-gray-500 shadow-lg lg:w-1/3"
      src="~/assets/images/waiting-room.JPG"
      width={500}
      height={500}
      widths={[400, 768]}
      sizes="(max-width: 768px) 100vw, 432px"
      alt="waiting room"
      />
    </div>
  </div>
  <!-- CallToAction Widget *********** -->

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Call us',
        href: 'tel:+16147414001',
        // target: '_blank',
        icon: 'tabler:phone',
      },
    ]}
  >
    <Fragment slot="title">
      Ready for Expert Foot & Ankle Care?<br class="block sm:hidden" /><span class="sm:whitespace-nowrap"></span>
    </Fragment>

    <Fragment slot="subtitle">
      Our team is here to help you find relief and get back on your feet. <br class="hidden md:inline" />Call us today to schedule your appointment!
    </Fragment>
  </CallToAction>
</Layout>
